* {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  overflow: hidden;
}

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.hidden { display: none !important; }

.toolbar {
  height: 5vh;
  min-height: 60px;
  max-width: 50vw;
  min-width: 300px;
  padding: 5px 20px;
  overflow-x: auto;
  border-radius: 8px;
  border: 2px solid #444;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: #eee;
  align-items: center;
}

.toolbar > * {
  height: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  object-fit: contain;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .toolbar {
    height: auto;
    min-height: 50px;
    max-width: 80vw;
  }

  .toolbar > * {
    max-height: 50px;
    width: 50px;
  }
}

